@import "../../variables.scss";

.parent {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  background: $main-color-darker;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.child {
  display: inline-block;
  // border: 1px solid red;
  padding: 0.2rem 2rem;
  vertical-align: middle;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.spacer {
  padding-inline: 4rem;
}

@media (min-width: 768px) {
  h1 {
    color: $accent-color;
    font-size: 3.5rem;
    font-family: "EasterEarly";
    margin: 0px;
  }
}
