<header>
  <div class="grid-container">
    <div class="item-logo">
      <img src="logo.png" alt="logo lol" class="rounded" A logo />
    </div>
    <div class="item-title">
      <h1>Sour Spaceman</h1>
    </div>
    <div class="item-button">
      <app-header-button [label]="'Games'" [link]="'/games'" />
    </div>
    <div class="item-button">
      <app-header-button [label]="'Blog'" [link]="'/blog'" />
    </div>
    <div class="item-button">
      <app-header-button [label]="'About'" [link]="'/about'" />
    </div>
    <div class="item-button">
      <app-header-button [label]="'Contact'" [link]="'/contact'" />
    </div>
  </div>
</header>
