<header class="parent">
  <div class="child">
    <img src="logo.webp" alt="logo lol" class="rounded" A logo />
  </div>
  <div class="child">
    <h1>Sour Spaceman</h1>
  </div>
  <div class="spacer child"></div>
  <div class="child" id="games-button">
    <app-header-button [label]="'Games'" [link]="'/games'" />
  </div>
  <div class="child" id="blog-button">
    <app-header-button [label]="'Blog'" [link]="'/blog'" />
  </div>
  <div class="child" id="about-button">
    <app-header-button [label]="'About'" [link]="'/about'" />
  </div>
  <div class="child" id="contact-button">
    <app-header-button [label]="'Contact'" [link]="'/contact'" />
  </div>
  <div class="child">
    <a target="_blank" href="https://stackoverflow.com"
      ><img src="mini_icon.webp" alt="youtube"
    /></a>
  </div>
  <div class="child">
    <a target="_blank" href="https://stackoverflow.com"
      ><img src="mini_icon.webp" alt="twitter"
    /></a>
  </div>
  <div class="child">
    <a target="_blank" href="https://stackoverflow.com"
      ><img src="mini_icon.webp" alt="bluesky"
    /></a>
  </div>
</header>
