<div id="about">
  <img src="character_img.png" alt="An image of our logo." />
  <p id="motto">
    Here at Sour Spaceman, our mission is to conquer the world with fictional
    robots, and also make games I guess.
  </p>
  <h1>Our Team</h1>
  <div class="grid-container">
    <div class="zeynep">
      <div class="icon">
        <img src="logo.png" alt="zeynep lol" class="rounded" Zeynep />
      </div>
      <div class="name">
        <h2>Zeynep</h2>
      </div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ex leo,
          gravida eu venenatis et, sollicitudin ut enim. Praesent ultricies
          lacus id purus laoreet interdum.
        </p>
      </div>
    </div>
    <div class="tucker">
      <div class="icon">
        <img src="logo.png" alt="tucker lol" class="rounded" Tucker />
      </div>
      <div class="name">
        <h2>Tucker</h2>
      </div>
      <div class="description">
        <p>
          Aliquam luctus tortor ligula, vitae pretium libero rhoncus id.
          Curabitur vehicula auctor orci vel faucibus. Praesent sodales urna ut
          lectus vehicula maximus.
        </p>
      </div>
    </div>
    <div class="savannah">
      <div class="icon">
        <img src="logo.png" alt="savannah lol" class="rounded" Savannah />
      </div>
      <div class="name">
        <h2>Savannah</h2>
      </div>
      <div class="description">
        <p>Savannah likes drawing radioapple in her free time</p>
      </div>
    </div>
  </div>
</div>
