@import "../../../variables.scss";

$box-width: 400px;
$box-height: 400px;
$left-box-shadow: $main-color -1px 0 15px 0;
$right-box-shadow: $main-color 1px 0 15px 0;

.leftImg {
  border-radius: 25px 0px 0px 25px;
}

.rightImg {
  border-radius: 0px 25px 25px 0px;
}

img {
  position: absolute;
  object-fit: cover;
  width: $box-width;
  height: $box-width;
}

.overlay {
  position: absolute;
  grid-row: 1;
  object-fit: cover;
  width: $box-width;
  height: $box-width;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 0.05fr);
  gap: 0px;
  margin-bottom: 28px;
}

.grid-container > div {
  padding: 0px;
  width: $box-width;
  height: $box-height;
}

.leftRow {
  grid-column: 1;
  border-radius: 25px 0px 0px 25px;
  box-shadow: $left-box-shadow;
}

.rightRow {
  grid-column: 2;
  border-radius: 0px 25px 25px 0px;
  box-shadow: $right-box-shadow;
}

#postImage {
  position: relative;
  object-fit: cover;
  padding: 0px;
  grid-row: 1;
}

#postText {
  padding: 0px;
  grid-row: 1;
  background-color: $main-color-see-through;
  color: $text-color;
  position: relative;
}

#readMore {
  color: $main-color-darker;
  text-decoration: none;
}

h2 {
  font-family: "Alagard";
  font-size: 56px;
  padding: 8px;
  margin: 8px;
  padding-bottom: 0px;
}

p,
a {
  font-family: "Bluebird";
  padding: 8px;
  margin: 8px;
  padding-top: 0px;
}

time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Bluebird";
  text-align: right;
  padding: 8px;
  margin: 8px;
  color: $main-color-darker;
}
