html {
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.main-container {
  display: block;
  position: relative;
  width: 0px;
  height: 0px;
  top: 0%;
  left: 0%;
}

.page {
  margin-top: 12vh;
}

app-header {
  display: flex;
  justify-content: center;
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 120%;
  z-index: -3;
}

.star {
  $star-count: 200;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  background: white;
  border-radius: 50%;
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite;

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-dim: #{random_range(1px, 3px)};
      width: var(--star-dim);
      height: var(--star-dim);
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(10000, 12000s) / 1000};
      --fall-delay: -#{random_range(0, 10000s) / 100};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    width: var(--star-width);
    height: 100%;
    background: white;
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
}

@keyframes fall {
  to {
    transform: translate3d(-100vw, 0, 0);
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes animShootingStar {
  0% {
    transform: translateY(-750px) translateX(-1800px) rotate(115deg);
    opacity: 1;
    height: 5px;
  }
  10% {
    transform: translateY(-450px) translateX(-1300px) rotate(115deg);
    opacity: 1;
    height: 250px;
  }
  20% {
    transform: translateY(0px) translateX(0px) rotate(115deg);
    opacity: 1;
    height: 5px;
  }
  20.001% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(115deg);
    opacity: 0;
    height: 5px;
  }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: -1;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  animation: animShootingStar $speed cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite;
  animation-delay: 20s;
}

.comet {
  @include shooting-star-template(1, 5px, 25s);
}
