@import "../../../variables.scss";

img {
  max-height: 400px;
  max-width: 400px;
  border-radius: 25px;
}

h1,
h2 {
  font-family: "Alagard";
  color: white;
  font-size: 56px;
}

p {
  font-family: "Bluebird";
  color: $text-color;
}

#description {
  margin-top: 48px;
  width: 800px;
  text-align: left;
}

#image {
  position: relative;
  display: flex;
  justify-content: center;
}

#entryPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
}

.overlay {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: $main-color 0 0 15px 0;
  min-height: 400px;
  min-width: 380px;
}
