@import "../../../variables.scss";

$img-width: 640px;
$img-height: 360px;

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 0.05fr);
  margin-bottom: 28px;
  background-color: $main-color-see-through;
  padding: 10px;
  border-radius: 10px;
  box-shadow: $main-color 0 0 15px 0;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 360px;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}

#video {
  grid-column: 1;
}

#big-player {
  @media (max-width: 767px) {
    display: none;
  }
}

#little-player {
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}

#desc {
  grid-column: 2;
  // background-color: $main-color-see-through;
  color: $text-color-light;
  font-family: "Bluebird";
  width: $img-width;
  height: $img-height;
  position: relative;

  @media (max-width: 767px) {
    max-width: 264px;
    align-items: center;
  }
}

#logo {
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 75%;
  max-height: 25%;
}

#textDescription {
  padding: 8px;
  margin: 8px;

  @media (max-width: 767px) {
    padding: 0;
    margin: 0px;
  }
}

#buyButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;

  @media (max-width: 767px) {
    right: auto;
    left: 20%;
    margin: 4px;
  }
}

.overlay {
  position: absolute;
  grid-row: 1;
  object-fit: cover;
  width: 456px;
  height: 160px;
}