$box-width: 400px;
$box-height: 400px;

img {
  object-fit: cover;
  width: $box-width;
  height: $box-width;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 0.05fr);
  gap: 0px;
  padding: 15px;
}

.grid-container > div {
  padding: 0px;
  width: $box-width;
  height: $box-width;
}

.leftRow {
  grid-column: 1;
}

.rightRow {
  grid-column: 2;
}

#postImage {
  object-fit: cover;
  padding: 0px;
  grid-row: 1;
}

#postText {
  padding: 0px;
  grid-row: 1;
  background-color: blueviolet;
  color: #2c0a4c;
  position: relative;
}

h2 {
  font-family: "Alagard";
  font-size: 50px;
  padding: 5px;
  margin: 5px;
}

p {
  font-family: "Bluebird";
  padding: 5px;
  margin: 5px;
}

time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Bluebird";
  text-align: right;
  padding: 5px;
  margin: 5px;
  color: #4d0b8a;
}
