@import "../../../variables.scss";

$box-width: 400px;
$box-height: 400px;

img {
  object-fit: cover;
  width: $box-width;
  height: $box-width;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 0.05fr);
  gap: 0px;
  padding-bottom: 28px;
}

.grid-container > div {
  padding: 0px;
  width: $box-width;
  height: $box-height;
}

.leftRow {
  grid-column: 1;
}

.rightRow {
  grid-column: 2;
}

#postImage {
  object-fit: cover;
  padding: 0px;
  grid-row: 1;
}

#postText {
  z-index: -1;
  padding: 0px;
  grid-row: 1;
  background-color: $main-color;
  color: $main-color-darker;
  position: relative;
}

h2 {
  font-family: "Alagard";
  font-size: 56px;
  padding: 8px;
  margin: 8px;
  padding-bottom: 0px;
}

p {
  font-family: "Bluebird";
  padding: 8px;
  margin: 8px;
  padding-top: 0px;
}

time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Bluebird";
  text-align: right;
  padding: 8px;
  margin: 8px;
  color: $main-color-faint;
}
