<div #myElementRef class="grid-container">
  <div
    id="postImage"
    [class.leftRow]="keepLeft()"
    [class.rightRow]="!keepLeft()"
  >
    <img
      [class.leftImg]="keepLeft()"
      [class.rightImg]="!keepLeft()"
      [src]="this.imagePath"
      [alt]="this.imagePath"
    />
  </div>
  <div
    id="postText"
    [class.leftRow]="!keepLeft()"
    [class.rightRow]="keepLeft()"
  >
    <article>
      <h2>{{ this.title }}</h2>
      <p>{{ this.textContent }}</p>
      <p>{{ this.signoff }}</p>
      <time>{{ this.date | date }}</time>
    </article>
  </div>
</div>
