<div #myElementRef class="grid-container">
  <div
    id="postImage"
    [class.leftRow]="keepLeft()"
    [class.rightRow]="!keepLeft()"
  >
    <img [src]="this.imagePath" [alt]="this.imagePath" />
  </div>
  <div
    id="postText"
    [class.leftRow]="!keepLeft()"
    [class.rightRow]="keepLeft()"
  >
    <article>
      <h2>{{ this.title }}</h2>
      <p>{{ this.textContent }}</p>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ex leo,
        gravida eu venenatis et, sollicitudin ut enim. Praesent ultricies lacus
        id purus laoreet interdum.
      </p>
      <p>
        Aliquam luctus tortor ligula, vitae pretium libero rhoncus id. Curabitur
        vehicula auctor orci vel faucibus. Praesent sodales urna ut lectus
        vehicula maximus.
      </p> -->
      <p>{{ this.signoff }}</p>
      <time>{{ this.date | date }}</time>
    </article>
  </div>
</div>
