@import "../../variables.scss";

html {
  display: flex;
  text-align: center;
  scroll-behavior: smooth;
}

p {
  margin: auto;
  width: 80%;
  padding: 16px;
  color: $main-color-darker;
  text-align: justify;
  font-family: "Bluebird";
}

#posts {
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
