@import "../../variables.scss";

* {
  box-sizing: border-box;
}

form {
  background-color: $main-color-see-through;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  padding: 56px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Alagard";
  color: white;
  text-align: center;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: "Bluebird";
  font-size: 16px;
  line-height: 1;
}

textarea::placeholder,
input::placeholder {
  font-family: "Alagard";
  font-size: 16px;
  font-weight: bold;
  opacity: 0.5;
  color: $main-color-faint;
}

p {
  font-family: "Alagard";
  font-size: 16px;
  font-weight: bold;
  color: indianred;
}

.form-element {
  padding: 8px;
  margin: 8px;
  align-self: center;
  width: 100%;
}
