<form>
  <h2>Contact Us!</h2>
  <label for="first_name">First Name</label>
  <input
    id="first_name"
    type="first_name"
    name="first_name"
    ngModel
    required
    email
    #email="ngModel"
  />
  <label for="last_name">Last Name</label>
  <input
    id="last_name"
    type="last_name"
    name="last_name"
    ngModel
    required
    email
    #email="ngModel"
  />
  <label for="email">Email</label>
  <input
    id="email"
    type="email"
    name="email"
    ngModel
    required
    email
    #email="ngModel"
  />
  <label for="message">Message</label>
  <input
    id="message"
    type="text"
    name="message"
    ngModel
    required
    minlength="5"
    maxlength="500"
    #message="ngModel"
  />
  <button class="button">Submit</button>
  @if (email.touched && email.dirty && email.invalid) {
  <p>Invalid email.</p>
  } @if (message.touched && message.dirty && message.invalid) {
  <p>Invalid message.</p>
  }
</form>
