@import "../../variables.scss";

* {
  box-sizing: border-box;
}

form {
  background-color: $main-color-see-through;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  padding: 56px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(202, 121, 255, 0.3) 0px 5px 5px 0px,
    #7e1bff9c 2px 2px 2px 2px;
}

h1 {
  font-family: "Alagard";
  color: white;
  text-align: center;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: "Bluebird";
  font-size: 16px;
  line-height: 1;
}

textarea::placeholder,
input::placeholder {
  font-family: "Alagard";
  font-size: 16px;
  font-weight: bold;
  opacity: 0.5;
  color: $main-color-faint;
}

p {
  font-family: "Alagard";
  font-size: 16px;
  font-weight: bold;
  color: indianred;
  text-align: center;
}

.form-element {
  padding: 8px;
  margin: 8px;
  align-self: center;
  width: 100%;
}
