<h1>Contact Us!</h1>

<form [formGroup]="form" class="hologram-purple" (ngSubmit)="submitForm()">
  <input
    class="form-element hologram-plain"
    id="name"
    type="name"
    name="name"
    placeholder="Name"
    formControlName="name"
    required
  />

  <input
    class="form-element hologram-plain"
    id="email"
    type="email"
    name="email"
    placeholder="Email"
    formControlName="email"
    required
    email
  />

  <textarea
    class="form-element hologram-plain"
    id="message"
    name="message"
    placeholder="Enter Message"
    formControlName="message"
    required
    rows="16"
    cols="24"
    minlength="5"
    maxlength="500"
  ></textarea>

  <button class="shining-button form-element">Submit</button>
</form>

@if (form.controls.name.touched && form.controls.name.dirty &&
form.controls.name.invalid) {
<p>ArgumentException: Please enter a valid name.</p>
} @if (form.controls.email.touched && form.controls.email.dirty &&
form.controls.email.invalid) {
<p>ArgumentException: Please enter a valid email.</p>
} @if (form.controls.message.touched && form.controls.message.dirty &&
form.controls.message.invalid) {
<p>ArgumentException: Please enter a valid message.</p>
}
