<h1>Contact Us!</h1>

<form>
  <input
    class="form-element"
    id="name"
    type="name"
    name="name"
    placeholder="Name"
    ngModel
    required
    #name="ngModel"
  />

  <input
    class="form-element"
    id="email"
    type="email"
    name="email"
    placeholder="Email"
    ngModel
    required
    email
    #email="ngModel"
  />

  <textarea
    class="form-element"
    id="message"
    name="message"
    placeholder="Enter Message"
    rows="16"
    cols="24"
    ngModel
    required
    minlength="5"
    maxlength="500"
    #message="ngModel"
  ></textarea>

  <button class="shining-button form-element">Submit</button>
  @if (name.touched && name.dirty && name.invalid) {
  <p>Invalid name.</p>
  } @if (email.touched && email.dirty && email.invalid) {
  <p>Invalid email.</p>
  } @if (message.touched && message.dirty && message.invalid) {
  <p>Invalid message.</p>
  }
</form>
