@import "../../variables.scss";

form {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Alagard";
  color: $main-color-darker;
}

label {
  font-family: "Bluebird";
  color: $main-color-darker;
}
