@font-face {
  font-family: 'EasterEarly';
  src: url('../assets/EASTER-Early.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alagard';
  src: url('../assets/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  background-color: rgb(163, 139, 173);
}
