$main-color: blueviolet;
$main-color-darker: #2c0a4c;
$main-color-faint: #4d0b8a;
$main-color-see-through: rgba($main-color, 0.65);
$main-color-see-through-faint: #7137793b;
$text-color: #ded7ff;
$accent-color: #fffb00;
$box-shadow: rgba(202, 121, 255, 0.3) 0px 5px 5px 0px, #7e1bff9c 2px 2px 2px 2px;

.hologram-purple {
  background-image: linear-gradient(
    0deg,
    $main-color-see-through 25%,
    $main-color-see-through-faint 25%,
    $main-color-see-through-faint 50%,
    $main-color-see-through 50%,
    $main-color-see-through 75%,
    $main-color-see-through-faint 75%,
    $main-color-see-through-faint 100%
  );
  background-size: 10px 10px;
}

.hologram-plain {
  background-image: linear-gradient(
    0deg,
    #ffffff00 25%,
    $main-color-see-through-faint 25%,
    $main-color-see-through-faint 50%,
    #ffffff00 50%,
    #ffffff00 75%,
    $main-color-see-through-faint 75%,
    $main-color-see-through-faint 100%
  );
  background-size: 10px 10px;
}

@font-face {
  font-family: "EasterEarly";
  src: url("../public/fonts/EASTER-Early.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alagard";
  src: url("../public/fonts/alagard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amerika";
  src: url("../public/fonts/Amerika-EPe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amerika-Alternate";
  src: url("../public/fonts/AmerikaAlternates-OYP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bluebird";
  src: url("../public/fonts/Bluebird-n56J.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
