$main-color: blueviolet;
$main-color-darker: #2c0a4c;
$main-color-faint: #4d0b8a;
$main-color-see-through: rgba($main-color, 0.65);
$main-color-see-through-faint: #7137793b;
$text-color: #b8aafa;
$text-color-light: #d7ceff;
$accent-color: #fffb00;
$accent-color-gentle: #fffd9e;
$box-shadow: rgba(202, 121, 255, 0.3) 0px 5px 5px 0px, #7e1bff9c 2px 2px 2px 2px;
